{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<title>VIDEOS</title>
{% endblock %}



{% block body %}
    <div style="background:linear-gradient(#00796B, #00bb7b)">
        <table>
            <tr>
                <td>
                    <img src="https://ineuron.ai/images/ineuron-logo.png" style="width:300px;height:100px;" >
                </td>
                <td><center>
                     <h1 style="color: white">YOUTUBE ANALYSIS</h1>
                     <p style="color: white">:-BY APOORV JAIN STUDENT OF INEURON </p>
                </center>
                </td>
            </tr>
        </table>
</div>

    <div style="max-width :70%; background : white">
<center><h1> AN ERROR OCCURED </h1></center>
      <h3> PLEASE TRY TO REMAIN CALM AND TRY AGAIN IF THE ERROR PERSIST USE ANOTHER CHANNEL TO CHECK THE APP </h3>

{% endblock %}