{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<title>VIDEOS</title>
{% endblock %}

{% block body %}
    <center style="background:linear-gradient(#00796B, #00bb7b)">
    <img src="https://ineuron.ai/images/ineuron-logo.png" style="width:300px;height:100px;">
    <h1 style="color: white">YOUTUBE ANALYSIS</h1>
    <p style="color: white">:-BY APOORV JAIN STUDENT OF INEURON </p>
</center>
<center>
    <div style="max-width :70%; background : white; word-break: break-all;">
    <h1> IMAGE OF BASE64 FORMAT </h1>
    <p>
        {{image}}
    </p>
    </div>
{% endblock %}